.button {
    display: inline-block;
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  
    &.primary {
      background-color: #4f46e5;
      color: white;
      
      &:hover {
        transform: scale(1.01);
      }
    }
  
    &.secondary {
      background-color: #6c757d;
      color: white;
  
      &:hover {
        background-color: #5a6268;
      }
    }
  
    &.danger {
      background-color: #dc3545;
      color: white;
  
      &:hover {
        background-color: #c82333;
      }
    }
  
    &.outline {
      background-color: transparent;
      border: 2px solid currentColor;
  
      &.primary {
        color: #007bff;
        border-color: #007bff;
      }
  
      &.secondary {
        color: #6c757d;
        border-color: #6c757d;
      }
  
      &.danger {
        color: #dc3545;
        border-color: #dc3545;
      }
    }
  
    &:disabled {
      background-color: #e9ecef;
      color: #6c757d;
      cursor: not-allowed;
    }
  }
  