.featureSection {
    background-color: #0f172a; // Dark background
    padding: 4rem 2rem;
    color: #fff;
    text-align: center;
  
    .header {
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 2rem;
  
      h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-weight: bold;
      }
  
      p {
        font-size: 1.25rem;
        margin-bottom: 1.5rem;
        color: #94a3b8;
      }
  
      .exploreLink {
        font-size: 1rem;
        color: #4f46e5;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: border-color 0.3s;
  
        &:hover {
          border-color: #4f46e5;
        }
      }
    }
  
    .features {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  
      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
  
      .featureCard {
        background-color: #1e293b;
        padding: 2rem;
        border-radius: 0.5rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-align: left;
  
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        }
  
        .icon {
          font-size: 2rem;
          margin-bottom: 1rem;
          display: inline-block;
          color: #4f46e5;
        }
  
        h3 {
          font-size: 1.5rem;
          margin-bottom: 1rem;
        }
  
        p {
          font-size: 1rem;
          margin-bottom: 1.5rem;
          color: #94a3b8;
        }
  
        .learnMore {
          font-size: 1rem;
          color: #4f46e5;
          text-decoration: none;
          border-bottom: 1px solid transparent;
          transition: border-color 0.3s ease;
  
          &:hover {
            border-color: #4f46e5;
          }
        }
      }
    }
  }
  